/* 
    Document   : sliderStyle
    Created on : 06 Mar 11, 15:02:38
    Author     : Hp
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*============================*/
/*=== Custom Slider Styles ===*/
/*============================*/

@import "nivo-slider.css";

#slider-wrapper {
/*    background:url(images/slider.png) no-repeat;*/
    width:478px;
    height:184px;
    margin: 2px auto;
/*    padding-top:74px;
    margin-top:50px;*/
}

#slider {
   margin:0;
   padding:0;
	position:relative;
    width:478px !important;
    height:184px;
    
	background:url(../../images/loading.gif) no-repeat 50% 50%;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider a {
	border:0;
	display:block;
}

.nivo-controlNav {
	position:absolute;
	right:5px;
	margin-top: 190px;
}
.nivo-controlNav a {
	display:block;
	width:10px;
	height:10px;
	background:url(../../images/bullets1.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 -10px;
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(../../images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a {
    color:#efe9d1;
    text-decoration:underline;
}

